* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --fundo1: white;
    --fundo2: black;
    --fundo3: #F5F5F7;
    --letra1: white;
    --letra2: black;
    --botao: #0077ED;

}

body {
    background-color: var(--fundo1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1C21;
    /*rgba(22, 22, 23, .8)*/
    backdrop-filter: blur(10px);
    color: var(--letra1);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;

}

.logoportifolio {}

.botao {
    display: none;
    border: none;
    background-color: inherit;
    color: var(--letra1);
    margin: 0;
    padding: 0;

}

.touchbar {
    width: 40px;
}

nav,
nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav ul {
    display: flex;
    font-size: 12px;
}

nav li {
    padding: 10px 14px 10px 14px;
}

nav a {
    text-decoration: none;
    color: inherit;
}



section#sobremim {
    padding: 20px;
    grid-column: 2;
    background-color: black;
    color: var(--letra1);
}

section#sobremim img.foto-perfil {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;

}

section#sobremim h1 {
    margin: 15px 0;
    font-size: 32px;
        line-height: 1.4;

    text-align: center;
}

section#sobremimp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 19px;

}

div#social {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 15px;
}

i {
    background-color: var(--botao);
    color: var(--letra1);
    padding: 10px;
    border-radius: 50%;
}


 

article#detalhes h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    padding: 30px;
    line-height: 1.4;
}

article.skills{
   background-color: var(--fundo3);
}

section#skills-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

section div.skills-bloco {
    background-color: var(--fundo3);
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

article.formacao{
    background: #79c5e8;
background: linear-gradient(182deg,rgba(121, 197, 232, 1) 0%, rgba(241, 245, 248, 1) 100%);
}

/*section div.skills-bloco:hover{
    cursor: pointer;
    padding: 40px;
    transition: padding 0.7s ease-in-out;

}*/

section div .imgskills {
    height: 150px;
    width: auto;
}









/*@media (prefers-color-scheme: dark) {
    body {
    background: #121212;
    color: white;
    }
}*/

@media (max-width: 768px) {
    .menu {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .botao {
        display: list-item;
    }

    .navegacao {}

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 38px;

    }

    section#skills-container{
        grid-template-columns: 1fr; 
    }
}